.toggle {
  background-color: #fff;
  padding: 8px 20px;
  border-radius: 5px;
  border: none;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 90px;
  height: 45px;
  font-weight: bold;
}

.toggle:hover {
  background-color: #c2c2c2;
  transition: 0.3s;
  cursor: pointer;
}

.botaofecharcart {
  background-color: #000;
  color: #fff;
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 50%;
  font-size: 18px;
}

.botaofecharcart:hover {
  transform: scale(1.1);
  cursor: pointer;
  transition: 0.3s;
}

.botaoexcluiritem {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: #000;
  color: #fff;
  width: 22px;
  height: 22px;
  border: none;
  border-radius: 50%;
  font-size: 13px;
}

.botaoexcluiritem:hover {
  transform: scale(1.1);
  cursor: pointer;
  transition: 0.3s;
}

.botaofinalizarcompra {
  width: 100%;
  height: 97px;
  background-color: #000;
  color: #fff;
  border: none;
  font-size: 28px;
}

.botaofinalizarcompra:hover {
  cursor: pointer;
  background-color: #00000090;
}